.background_image{
    background-image: url('background-main.jpg');
    position:relative;
    min-height: 100%;
    background-position: center;
}
.text_center{
    text-align:center;
    position: absolute;
    top:200px;
    width:100%;
    color:white
}

.text_center_1{
    text-align:center;
    position: absolute;
    top:400px;
    width:100%;
    color:white;
    font-size: 250%
}
.text_center_buy{
    text-align:center;
    position: absolute;
    top:250px;
    width:100%;
    color:black;
    font-size: 250%
}
.text_center_search{
    text-align:center;
    position: absolute;
    top:100px;
    width:100%;
    color:black;
    font-size: 150%
}
